{{! Inicio form para criar a collection de ativos }}
<div class='d-flex justify-content-end my-3'>
  <a href='/dashboard' class='btn btn-outline-secondary px-5 mx-2'>Dashboard</a>
  <a href='/active/list' class='btn btn-outline-secondary px-5'>Lista de
    Associados</a>
</div>

<h2 class='text-center m-5'>Atualização de dados do Associado</h2>
<form action='/active/attActive' method='post' class='container'>

  <div class='row'>
    <div class='col-lg-8 col-md-12 col-sm-12'>

      <h2 class='text-center'>Médicos</h2>
      <section class='conteudo container table-responsive'>
        <table class='table table-hover' id='tabela'>
          <thead>
            {{! NÃO EXCLUIR O TH VAZIO }}
            <th></th>
            <th>CRM</th>
            <th>Nome</th>
            <th>Email Dr</th>
            <th>Atendimento</th>
          </thead>
          <tbody id='tbody'>
            <tr>
              <td><input
                  type='text'
                  name='idAtivo'
                  value='{{resultadoAtivo._id}}'
                  hidden
                /></td>
              <td>{{resultadoAtivo.medico.crm}}</td>
              <td>Dr(a). {{resultadoAtivo.medico.nome}}</td>
              <td>{{resultadoAtivo.medico.email}}</td>
              <td>{{resultadoAtivo.medico.atendimento}}</td>
            </tr>

          </tbody>
        </table>
      </section>
    </div>
    <div class='col-lg-4 col-md-12 col-sm-12'>

      <section class='conteudo container'>
        <h2 class='text-center'>Especialidades</h2>
        <table class='table table-hover' id='tabela'>
          <thead>
            <th>Selecione</th>
            <th>Especialidade</th>
          </thead>
          <tbody id='tbody'>
            {{#each resultadoEspecialidade as |especialidade|}}
              <tr>
                <td><input
                    type='checkbox'
                    name='especialidadeCheck'
                    value='{{especialidade.especialidade}}'
                  /></td>
                <td>{{especialidade.especialidade}}</td>

              </tr>
            {{/each}}

          </tbody>
        </table>
      </section>
    </div>
  </div>
  <div class='row'>
    <div class='d-flex justify-content-center mt-3'>
      <a href='/active/list' class='btn btn-secondary mx-3'>Cancelar</a>
      <button type='submit' class='btn btn-primary mx-3'>Atualizar</button>
    </div>
  </div>
</form>
{{! Fim form para criar a collection de ativos }}